/*
main.scss
---------
Feuille de style relative à la maquette mobile "OhMyFood!"
Par Tony BARTHELEMY
*/

/* CSS GLOBAL : */

@import "./base/base";
@import "./base/typography";
@import "./utils/variables";
@import "./utils/mixins";
@import "./components/buttons";


/* CSS HEADER + LOCATION : */

#Header-banner {
    display: flex;
    align-items: center;
    height: 4em;
    position: sticky;
    top: 0px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    z-index: 5;
    #Logo {
        margin: auto;
    }
}

#Location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    height: 3em;
    width: 100%;
    z-index: 4;
    .fas {
        margin-right: 10px;
    }
}

/* CSS LOCATION SECTION : */

#Banner-Welcome {
    text-align: center;
    height: 18em;
    background-color: #f6f6f6;
    h1 {
        padding: 2em 1em 1em 1em;
    }

}


/* CSS EXPLANATIONS SECTION : */

#Explainations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3em;
}

.How-To-Step {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    height: 4.5em;
    width: 18em;
    margin: 0.8em 1em;
    box-shadow: 2px 5px 15px 0px #00000025;
    border-radius: 25px;
    &__Step-number {
        padding: 0.2em;
        margin-left: -12px;
        width: 1.2em;
        background-color: blueviolet;
        border-radius: 12px;
        text-align: center;
        color: white;
    }
    .fas {
        margin: 0 20px 0 20px;
        color: grey;
        font-size: 20px;
    }
}


/* CSS RESULTS DISPLAY SECTION : */

#Results {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 3em;
    background-color: #f2f2f2;
}

.Restaurant-tile {
    position: relative;
    width: 22%;
    background-color: white;
    border-radius: 15px;
    margin: 1em;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
        img {
            width: 100%;
            height: 12em;
            border-radius: 10px 10px 0 0;
            object-fit: cover;
        }
        .far {
            font-size: 25px;
        }
        &__label {
            margin: 1em;
        }
        &__Icon-like {
            position: absolute;
            right: 25px;
            bottom: 25px;
            height: 25px;
            width: 25px;
        }
}


@import "./layout/footer";