$main-color: #99e2d0;

$font-color: black;

$btn-gradient: linear-gradient(#ef74da, #a45cdb);

$grey-background: #f2f2f2;

$shadow-standard : 2px 5px 15px 0px #00000025;

$shadow-hover : 0px 3px 5px 0px #00000030;